* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #9b835f;
}

.navbar {
  margin-top: -1rem;
}

.nav-arrow {
  font-size: 70px;
  color: brown;
  font-weight: 500;
}

.nav-rps {
  font-size: 30px;
  color: #ebb134;
}

.nav-logo {
  width: 30px;
  height: 30px;
}

.contentLeft {
  margin-top: 2rem;
}
.vs {
  /* margin-top: 3rem; */
  color: #b32318;
  font-size: 90px;
  font-weight: 500;
}
.contentRight {
  margin-top: 2rem;
}

.side {
  text-align: center;
  font-weight: bold;
}

#batu {
  height: 80px;
  width: 97px;
  margin: 3rem;
}
#kertas {
  height: 110px;
  width: 74px;
  margin: 3rem;
}
#gunting {
  height: 110px;
  width: 88px;
  margin: 3rem;
}

#gambar-batu {
  height: 80px;
  width: 97px;
  margin: 3rem;
}
#gambar-kertas {
  height: 110px;
  width: 74px;
  margin: 3rem;
}
#gambar-gunting {
  height: 110px;
  width: 88px;
  margin: 3rem;
}

#refreshButton {
  margin-top: -2rem;
  height: 60px;
  width: 60px;
}

.boxHasil {
  padding: 10px;
  font-size: 60px;
  background-color: #4c9653;
  color: white;
  border-radius: 10px;
}

.pilihan {
  background-color: #c4c4c4;
  margin: 50px;
  border-radius: 10px;
}
